<h1>Classroom Info</h1>

    <%= render partial: "classroom" %>

<h1>Students Info</h1>

<% @classroom.students.each do |student| %>
    <%= render partial: "students/student", locals: { student: student } %>
<% end %>
